body {
  background-image: url("../images/playstation-pattern.png");
  display: flex;
  justify-content: center;
  font-family: 'Cinzel Decorative', cursive;
}

.wrapper {
  width: 960px;
}

.title {
  width: 100%;
  height: 96px;
  background-color: steelblue;
  font-size: 60px;
  color: darkgray;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 0px 1px;
  margin-bottom: 10px;
}

.main-content {
  width: 100%;
  height: 500px;
  color: black;
  background-color: darkorange;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 0px 1px darkgrey;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  width: 85%;
  font-size: 6px; 
}

.buttons-score {
  display: inline-flex;
  width: 100%;
  height: 96px
}

.random-number {
  width: 281px;
  height: 94px;
  border: 1px solid darkgray;
  margin-right: 10px;
  background-color: darkgray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
}

.wins-losses {
  width: 281px;
  height: 94px;
  border: 1px solid darkgray;
  background-color: darkcyan;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.score-numval {
  width: 100%;
  height: 96px;
  margin-top: 10px;
  display: flex;
}

.score {
  width: 100%;
  height: 94px;
  background-color: rebeccapurple;
  color: darkgray;
  border: 1px solid black;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number-value {
  width: 480px;
  height: 94px;
  background-color: green;
  border: 1px solid black;
}

ul {
  list-style-type: square;
  line-height: 1.5;
}

li {
  font-size: 25px;
}
